.sidebarrow{
    display: flex;
    align-items: center;
    padding-left:10px ;
}
.sidebarrow_icon{
    color: #606060;
    font-size: 25px !important;
}

.sidebarrow_title{
 flex: 1;
 margin-left: 20px;
 font-size: 15px;
 font-weight: 500;
}

.sidebarrow:hover{
    background-color: rgb(243, 235, 235);
    cursor: pointer;
}

.sidebarrow:hover>.sidebarrow_icon{
    color: red;
    font-size: 29px !important;
}

.sidebarrow:hover>.sidebarrow_title{
    font-weight: bold;
}

.sidebarrow.selected{
    background-color:rgb(243, 235, 235);
}

.sidebarrow.selected>.sidebarrow_icon{
    color: red;
}

.sidebarrow.selected>.sidebarrow_title{
    font-weight: bold;
}
